
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: rgb(25,25,41);
}
.navbar {
  background: rgb(25,25,41);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid #eb3333;
  border-right: 5px solid #eb3333;
}
.navlink {
  list-style-type: none;
}
.nav-item {
  display: inline;
  float: right;
  margin-right: 15px;
  font-size: 16px;
}
.b-img {
  margin-left: 10px;
  font-size: 25px;
  color: #eb3333;
  font-weight: bold;
}
.section{
  display: grid;
  place-items: center;
  min-height: 90vh;
  align-items: center;
}
.avatar{
  width: 200px;
  height: 200px;
  border: 5px solid #000;
  border-radius: 10px;
}
p{
  text-align: center;
  margin: 20px;
}
.btn{
  background: #eb3333;
  height: 50px;
  width: 100px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner{
  border: 5px solid #000;
  border-radius: 10px;
  height: 200px;
  margin: 10px;
  width: 340px;
}

